-
  var appId = '';   // JSのアプリ起動に使われるID名
  var title = '';
  var keyword = '';
  var description = 'description';
  var ogp = {
    url: '',
    image: '',
    type: '',
    siteName: ''
  };

block variables

doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover')

    title #{title}
    meta(name='keyword' content=keyword)
    meta(name='description', content=description)
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
    meta(property='og:url', content=ogp.url)
    meta(property='og:image', content=ogp.image)
    meta(property='og:type', content=ogp.type)
    meta(property='og:site_name', content=ogp.siteName)

    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="shortcut icon", href="${require('../materials/favicon.ico')}")
  body(id=appId)
    block content
